<div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                
                <!-- <th>day</th> -->
              <th>entry time/th>
              <th>leave time</th>
            </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let att of atts">
                    
                    <!--<td>{{att.day}}</td> -->
                    <td>{{att.entryTime}} </td>
                    <td>{{att.leaveTime}}</td>
                    
                </tr>
            </tbody>
          </table>
        </div>
        
        
